<div class="footer">
    <div class="privacy_social_imgs">
        <a class="logo_footer" href="index.html"><img class="kochwelt_logo_small" src="img/logo_small_new.png"></a> 
        <a class="privacy" href="privacy.html">Datenschutz</a>
        <div class="social_imgs">
            <img class="social_imgs_logos first" href="www.instagram.com" src="img/instagram_logo.png" alt="">
            <img class="social_imgs_logos second" src="img/facebook_logo.png" alt="">
            <img class="social_imgs_logos third" src="img/youtube_logo.png" alt="">
        </div>
    </div>
</div>