    <!-- <div class="menu-container">
        <div class="menu">
            <a class="logo_a" href="index.html"><img class="logo_header" src="img/logo.png"></a>
        </div>

        <div class="menu-links">
            <a class="active" href="">Start</a>
            <a href="recipeoftheday.html">Rezept des Tages</a>
            <a href="contact.html">Kontakt</a>
            <a class="impressum_menu_link" href="impressum.html">Impressum</a>
        </div>
           
    </div> -->

    <header>
        <a href="" class="logo-header">
          <img src="logo.png" alt="Logo Navbar">
        </a>
        <div class="menuToggle"></div>
        <nav>
          <ul>
            <li><a class="active" href="index.html">Start</a></li>
            <li><a href="recipeoftheday.html">Rezept des Tages</a></li>
            <li><a href="contact.html">Kontakt</a></li>
            <li><a href="imprint.html">Impressum</a></li>
          </ul>
        </nav>
      </header>